.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: hsl(185, 75%, 39%);
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left top, bottom right;
  background-size: 50%;
}
/* .top {
  /* display: block; */
/* margin-right: auto; */
/* margin-bottom: auto; */
/* } */
/* .bottom {
  background-image: url(images/bg-pattern-bottom.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 50%;
} */
.box {
  background-image: url(images/bg-pattern-card.svg);
  background-position: 50%;
  width: 50%;
  height: 100px;
  border-radius: 10%;
}
